@{
    ViewBag.Title = "Report>>PettyCash";
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
}


@section BreadCrumb{
   
  <section class="content-header">
    <div class="form-group">
        <label>Select a Report</label>
        <div class="midMenu pull-left">
            <ul>
                <li class="active" id="liPCAudit"><a href="#tabEditAudit" data-toggle="tab" aria-expanded="true" onclick="    javascript: ShowHide('Audit');">Petty Cash Audit</a></li>
                <li class="" id="liPCPosted"><a href="#tabEditAudit" data-toggle="tab" aria-expanded="true" onclick="    javascript: ShowHide('Audit');">Petty Cash Posted</a></li>
                @*<li class=""><a class="" href="#tabPosting" data-toggle="tab" aria-expanded="false" onclick="javascript: ShowHide('Posting');">AP Invoice Posting</a></li>*@
            </ul>
        </div>
    </div>
      
      @*<a href="#" class="btn btn-default floatRight  pull-right marginLeft10" onclick="javascript: ShowhideFilter();" data-printer="download" download="Sanjay_5_32_PM.pdf" id="btnPrint">Print Report</a>*@
      @*<a href="#" class="btn btn-default floatRight  pull-right marginRight10" style="display:inline;" data-printer="preview" target="_blank" id="btnpreview">Search</a>*@
      <a href="#" class="btn btn-default floatRight  pull-right marginRight10" style="display:inline;" onclick="javascript: FilterPettyCash();" id="btnApply">Preview</a>

       
    <div class="clearfix"></div>

</section>
}

@section Body{

<section class="content" id="dvMainDv">
    <div class="row fontAriel" id="dvFilterDv">
        <div class="tab-content">

            <div id="tabPendingInvoices" class="tab-pane active widget-body-regular">
                <div class="col-xs-12">

                    <div id="tabEditAudit" class="tab-pane active widget-body-regular">

                        <div id="divPC">
                            <div style="width: 25% !important;float: left;">
                                <ol class="breadcrumb floatLeft"></ol>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label style="width:214px!important;">Report Date</label>
                                <input type="text" class="form-control  pull-left datepicker" id="txtReportDate" tabindex="1" />

                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                @*<select id="ddlCompany" tabindex="2" class="form-control  pull-left" style="margin-left:13px !important;"></select>*@
                                <label style="width:200px!important;" id="FilterCompanyLabel">Company</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select style="width: 160px !important;margin-left: 12px;display:none;" id="ddlCompany" multiple="multiple" tabindex="2"></select>
                                </div>
                             </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="FilterLocationGroup" style="display:none;">
                                <label style="width:200px!important;" id="FilterLocationLabel">Locaton(s)</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="FilterLocation" multiple="multiple" style="display:none;" tabindex="3"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="FilterEpisodeGroup" style="display:none;">
                                <label style="width:200px!important;" id="FilterEpisodeLabel">Episode</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="FilterEpisode" multiple="multiple" style="display:none;" tabindex="4"></select>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group" id="FilterSetGroup" style="display:none;">
                                <label style="width:200px!important;" id="FilterSetLabel">Set(s)</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="FilterSet" multiple="multiple" style="display:none;"tabindex="5"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Custodian(s)</label>
                                <div style="width: 18.3% !important;float: left; margin-left: 13px; margin-bottom: 2px;">
                                    <select id="ddlPettyCashCustodian" tabindex="6" multiple class="form-control  pull-left" style=""></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Recipient(s)</label>
                                <div style="width: 18.3% !important;float: left; margin-left: 13px; margin-bottom: 2px;">
                                    <select id="ddlPettyCashRecipient" tabindex="7" multiple class="form-control  pull-left" style=""></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Period</label>
                                <select id="txtPettyCashPeriod" tabindex="8" class="form-control  pull-left" style="margin-left:13px !important;">
                                    <option value="1">Current</option>
                                    <option value="2">Future</option>
                                </select>
                            </div><!-- /.form-group -->
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Envelope Create Date From:</label>
                                <input type="text" tabindex="9" id="txtApInvsCreatedFrom" class="form-control  pull-left datepicker" style="margin-left:13px !important;" placeholder="MM/DD/YYYY">
                            </div><!-- /.form-group -->

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Envelope Create Date To:</label>
                                <input type="text" id="txtApInvsCreatedTo" tabindex="10" class="form-control  pull-left datepicker" style="margin-left:13px !important;" placeholder="MM/DD/YYYY">

                            </div><!-- /.form-group -->
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Transaction No. From:</label>
                                <input type="text" id="txtPettyCashFrom" tabindex="11" class="form-control  pull-left" style="margin-left:13px !important;">

                            </div><!-- /.form-group -->
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Transaction No. To:</label>
                                <input type="text" id="txtPettyCashTransTo" tabindex="12" class="form-control  pull-left" style="margin-left:13px !important;">
                            </div><!-- /.form-group -->
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Vendor Name</label>
                                <div style="width: 18.3% !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="ddlPettyCashVendor" tabindex="13" multiple class="form-control  pull-left" style="" onfocus="javascript:funVendorFilter();"></select>
                                </div>
                            </div><!-- /.form-group -->
                            <div class="clearfix"></div>
                            <div class="form-group">

                                <label style="width:200px!important;">Batch</label>
                                <div style=" width: 18.3% !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="ddlPettyCashBatch" tabindex="14" multiple class="form-control  pull-left" style="" onfocus="javascript:funBatchNumberFilter();"></select>
                                </div><!-- /.form-group -->
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">User Name</label>
                                    <div style="width: 18.3% !important;float: left; margin-left: 13px; margin-bottom: 2px;">
                                        <select id="ddlPettyCashUserName" tabindex="15" multiple class="form-control  pull-left" style="" onfocus="javascript:funGetUserFilter();"></select>
                                    </div>
                                </div><!-- /.form-group -->

                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Envelope From:</label>
                                    <input type="text" id="txtEnvelopeFrom" tabindex="16" class="form-control  pull-left" style="margin-left:13px !important;">

                                </div><!-- /.form-group -->
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Envelope To:</label>
                                    <input type="text" id="txtEnvelopeTo" tabindex="17" class="form-control  pull-left" style="margin-left:13px !important;">
                                </div><!-- /.form-group -->

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog11" style="display: none"> </div>
</section>

<div id="fade" class="black_overlay"></div>
}


@section Javascript{
<script src="~/Content/libs/bootstrap-multiselect.js"></script>
<script src="~/Scripts/Reports/ReportEngine.js"></script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
      rel="stylesheet" type="text/css" />
<link href="~/Content/libs/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

<script>

    // This is an example jQuery snippet that makes the dialogs work
    $(document).ready(function () {

        // We have two control functions that show or hide dialogs
        function showDialog(id) {

            // Find the dialog and show it

            var dialog = $('#' + id),
                    card = dialog.find('.dialog-card');

            dialog.fadeIn();

            // Center it on screen

            card.css({
                'margin-top': -card.outerHeight() / 2
            });

        }
        function hideAllDialogs() {
            // Hide all visible dialogs
            $('.dialog-overlay').fadeOut();
        }

        // Here is how to use these functions

        $('.dialog-confirm-button, .dialog-reject-button').on('click', function () {
            hideAllDialogs();
        });

        $('.dialog-show-button').on('click', function () {
            var toShow = $(this).data('show-dialog');

            showDialog(toShow);
        });
    });

</script>

<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui.js"></script>
<script>
    //$(function () {
    //    $(".datepicker").datepicker();
    //});


</script>

<style type="text/css">
    .black_overlay, #fade {
        display: none !important;
    }

    #TblPosted_paginate {
        position: fixed;
        bottom: 4%;
        float: right !important;
        right: 2%;
    }

    #TblPosted_info {
        position: fixed;
        bottom: 6%;
    }
    .ui-dialog {
        width: 80% !important;
        z-index: 999999999;
    }
</style>

<script src="~/Scripts/Reports/PettyCashReport.js"></script>

}


