@section BreadCrumb{
    <section class="content-header">
        <div class="form-group">
            <label id="lblSelectReport">Select a Report</label>
            <div class="midMenu pull-left">
                <ul>
                    <li class="active"><a href="#tabEditAudit" data-toggle="tab" aria-expanded="true" onclick="javascript: ShowHide('Bible');">Bible</a></li>
                    <li class=""><a class="" href="#tabPosting" data-toggle="tab" aria-expanded="false" onclick="javascript: ShowHide('LedgerInquiry');">Ledger Inquiry</a></li>
                    <li class=""><a class="" href="#tabPosting" id="TabTrialBal" data-toggle="tab" aria-expanded="false" onclick="javascript: ShowHide('TrialBalance');">Trial Balance</a></li>
                    <li class="" id="LiJEPosted"><a class="" href="#tabPosting" data-toggle="tab" aria-expanded="false" onclick="javascript: ShowHide('JEPosting');">JE Posting</a></li>
                    <li class="" id="LiJEAudit"><a class="" href="#tabPosting" data-toggle="tab" aria-expanded="false" onclick="javascript: ShowHide('JEAudit');">JE Audit</a></li>
                    <li class=""><a href="#tabCOA" data-toggle="tab" aria-expanded="true" onclick="javascript: ShowHide('COA');">COA</a></li>
                </ul>
            </div>
        </div>
        <div id="DvBibleF" class="clsFilter">
            <a href="#" class="btn btn-default floatRight pull-right marginRight10 " onclick="javascript: funBible(true);" style="display:inline;" id="btn" title="Export to CSV/Excel File">Export</a>
            <a href="#" class="btn btn-default floatRight  pull-right marginRight10" style="display:inline;" onclick="javascript: funBible();" id="btn">Preview</a>
        </div>
        <div id="DvJEAuditF" class="clsFilter" style="display:none;">
            <a href="#" class="btn btn-default floatRight pull-right marginRight10 " onclick="javascript: FunPrintJEAudit(true);" style="display:inline;" id="btn" title="Export to CSV/Excel File">Export</a>
            <a href="#" class="btn btn-default floatRight  pull-right marginRight10" style="display:inline;" onclick="javascript: FunPrintJEAudit();" id="btn">Preview</a>
        </div>
        <div id="DvTBF" style="display:none;" class="clsFilter">  
            <a href="#" class="btn btn-default floatRight pull-right marginRight10 " onclick="javascript: TBComEx(true);" style="display:inline;" id="btn" title="Export to CSV/Excel File">Export</a>
            <a href="#" class="btn btn-default floatRight  pull-right marginRight10" style="display:inline;" onclick="javascript:TBComEx();" id="btn">Preview</a>
        </div>
        <div id="DvCOAF" style="display:none;" class="clsFilter">
            <a href="#" class="btn btn-default floatRight  pull-right marginRight10" style="display:inline;" onclick="javascript: funGetCOAReport();" id="btn">Preview</a>
        </div>
        <div id="DvLedgerInquiry" style="display:none;" class="clsFilter">
            <a href="#" class="btn btn-default floatRight pull-right marginRight10 " onclick="javascript:funLedgerInquiry(true);" style="display:inline;" id="btn" title="Export to CSV/Excel File">Export</a>
            <a href="#" class="btn btn-default floatRight pull-right marginRight10 " onclick="javascript:funLedgerInquiry();" style="display:inline;" id="btn" title="Hold Ctrl when you click this button to run the report in another tab while you continue using this tab.">Preview</a>
        </div>

        <div id="DvJEPostedF" class="clsFilter " style="display:none;">
            <a href="#" class="btn btn-default floatRight pull-right marginRight10 " onclick="javascript: FunPrintJEPosting(true);" style="display:inline;" id="btn" title="Export to CSV/Excel File">Export</a>
            <a href="#" class="btn btn-default floatRight  pull-right marginRight10" style="display:inline;" onclick="javascript: FunPrintJEPosting();" id="btn">Preview</a>
        </div>
        <div class="clearfix"></div>
    </section>
}

@section Body{
    <form>
        <section class="content" id="dvMainDv">
            <div class="row fontAriel" id="dvFilterDv">
                <section class="content">
                    <div class="col-md-12">
                        @* Bible *@
                        <div id="DvBible" class="form-group mar0 clsHide">
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Report Date</label>
                                <input type="text" id="txtBiblePeportDate" placeholder="MM/DD/YYYY" tabindex="1" class="form-control  pull-left datepicker" style="margin-left:13px !important;">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Company</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    @*<select style="width: 160px !important;margin-left: 12px;" onfocus="javascript: funBibleCompany();" class="form-control" id="txtBibleFilterCompany">
                                        <option>Select</option>
                                    </select>*@
                                    <select style="width: 160px !important;margin-left: 12px;" id="BibleFilterCompany" multiple="multiple" style="display:none;"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="BibleFilterLocationGroup" style="display:none;">
                                <label id="BibleFilterLocationLabel" style="width:200px!important;">Location(s)</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    @*<select id="ddlBibleFilterLocation" tabindex="8" multiple class="form-control  pull-left" style="" onfocus="javascript: funSegment();"></select>*@
                                    <select id="BibleFilterLocation" multiple="multiple" style="display:none;"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Period No. From</label>
                                <input type="text" id="txtBibleFilterCreatedFrom" tabindex="5" class="form-control  pull-left SearchPeriod " style="margin-left:13px !important;">
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Period No. To</label>
                                <input type="text" id="txtBibleFilterCreatedTo" tabindex="6" class="form-control  pull-left SearchPeriod" style="margin-left:13px !important;">
                            </div>
                            <div class="clearfix"></div>
                           
                            <div class="clearfix"></div>
                            <div class="form-group" style="display:none;">
                                <label style="width:200px!important;">Locaton(s)</label>
                                <input type="text" id="txtBibleFilterLocation" onfocus="javascript:funSegment();" tabindex="9" class="form-control  pull-left SearchLocation" style="margin-left:13px !important;">
                            </div>
                        </div>
                        @*End of Bible*@
                        @*Start Ledger Inquiry*@
                        <div id="DivLedgerInquiryF" class="form-group mar0 clsHide" style="display:none;">
                            <div class="form-group">
                                <label style="width:200px!important;">Report Format </label>
                                <input type="radio" name="RFormat" id="rbAccount" checked="checked" /> Account Distribution
                                <input type="radio" name="RFormat" id="rbTransaction" /> Transaction No.
                            </div>
                            <div class="report-column-left">
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Report Date</label>
                                    <input type="text" id="txtLedgerInquiryRD" class="form-control  pull-left datepicker" style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Company</label>
                                    <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                        <select style="width: 160px !important;margin-left: 12px;" id="LIFilterCompany" multiple="multiple" style="display:none;"></select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group" id="LIFilterLocationGroup" style="display:none;">
                                    <label style="width:200px!important;">Locaton(s)</label>
                                    <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                        <select id="LIFilterLocation" multiple="multiple" style="display:none;"></select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group" id="LIFilterEpisodeGroup" style="display:none;">
                                    <label style="width:200px!important;">Episode(s)</label>
                                    <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                        <select id="LIFilterEpisode" multiple="multiple" style="display:none;"></select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Currency Code(s)</label>
                                    @*<input type="text" id="txtLedgerInquiryCC" class="form-control  pull-left" value="USD" style="margin-left:13px !important;">*@

                                    <div class="col-xs-6 col-sm-4 col-lg-1 pad0">
                                        <select style="width: 160px !important;margin-left: 12px;" class="form-control pull-left" id="txtLedgerInquiryCC">
                                            <option>USD</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Period No. From:</label>
                                    <input type="text" id="txtLET_Period_No_From" tabindex="5" class="form-control  pull-left SearchPeriod " style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Period No. To:</label>
                                    <input type="text" id="txtLET_Period_No_To" tabindex="6" class="form-control  pull-left SearchPeriod" style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group hidden">
                                    <label style="width:200px!important;"> Period Status</label>
                                    <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                        <select id="txtLedgerInquiryPS" multiple class="form-control  pull-left" tabindex="2" style="margin-left:13px !important;" onfocus="javascript: funPeriodNumberFilterLedger();"></select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Posted Date From:</label>
                                    <input type="text" id="txtLedgerInquiryCDFrom" class="form-control  pull-left datepicker" style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Posted Date To:</label>
                                    <input type="text" id="txtLedgerInquiryTo" class="form-control  pull-left datepicker" style="margin-left:13px !important;">

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Transaction No. From:</label>
                                    <input type="text" id="txtLedgInqTransFrom" class="form-control  pull-left " style="margin-left:13px !important;">

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Transaction No. To:</label>
                                    <input type="text" id="txtLedgInqTransTo" class="form-control  pull-left " style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Document No.</label>
                                    <input type="text" id="txtDocNo" class="form-control  pull-left" style="margin-left:13px !important;">

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Transaction Type</label>
                                    <select id="ddlTT" class="form-control  pull-left" style="margin-left:13px !important;width:160px !important;">
                                        <option value="">ALL</option>
                                        <option value="AP">AP</option>
                                        <option value="JE">JE</option>
                                        <option value="PC">PC</option>
                                        <option value="PR">PR</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Batch</label>
                                    <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                        <select id="ddlLedgInqBatch" tabindex="8" multiple class="form-control  pull-left" style="" onfocus="javascript: funLedgerInqBatch();"></select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">UserName</label>
                                    <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                        <select id="ddlLedgInqUserName" tabindex="8" multiple class="form-control  pull-left" style="" onfocus="javascript: funLInqGetUserFilter();"></select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Vendor From</label>
                                    <input type="text" id="txtVendorFromL" class="form-control  pull-left" style="margin-left:13px !important;">

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Vendor To</label>
                                    <input type="text" id="txtVendorToL" class="form-control  pull-left" style="margin-left:13px !important;">

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Account No. From</label>
                                    <input type="text" id="txtAcNoFromL" class="form-control  pull-left" style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Account No. To</label>
                                    <input type="text" id="txtAcNoToL" class="form-control  pull-left" style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">1099 codes</label>
                                    <input type="text" id="txtTaxCode" class="form-control  pull-left clsTax" onfocus="javascript:funTaxCode();" style="margin-left:13px !important;">
                                </div>
                            </div>
                            <div class="report-column-center">
                                <div id="additionalfilters"></div>
                            </div>
                        </div>
                        @*End of Ledger Inquiry *@
                        @*Start trial Balance*@
                          <div id="DivTB" class="form-group mar0 clsHide" style="display:none;">

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Report Date</label>
                                <input type="text" id="txtTBFilterDate" tabindex="1" class="form-control  pull-left datepicker" style="margin-left:13px !important;">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Company</label>
                                <div class="col-xs-6 col-sm-4 col-lg-1 pad0">
                                    <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">

                                        <select style="width: 160px !important;margin-left: 12px;" id="TrailFilterCompany" multiple="multiple" style="display:none;"></select>
                                    </div>
                                    @*<select style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;" onfocus="javascript:funTBCompany();" class="form-control" id="ddlCompanyTB" tabindex="2" >
                                        <option>Select</option>
                                    </select>*@
                                </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="TrailFilterLocationGroup" style="display:none;">
                                <label style="width:200px!important;">Locaton(s)</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    @*<select id="ddlBibleFilterLocation" tabindex="8" multiple class="form-control  pull-left" style="" onfocus="javascript: funSegment();"></select>*@
                                    <select id="TrailFilterLocation" multiple="multiple" style="display:none;"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="TrailFilterSetGroup" style="display:none;">
                                <label style="width:200px!important;">Set(s)</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="TrailFilterSet" multiple="multiple" style="display:none;"></select>
                                </div>
                            </div>
                                <div class="clearfix"></div>
                                <div class="form-group" style="display:none;">
                                    <label style="width:200px!important;">Project</label>
                                    <input type="text" id="txtTBFilterProject" tabindex="3" class="form-control  pull-left" style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group" style="display:none;">
                                    <label style="width:200px!important;"> Currency Code(s)</label>
                                    <input type="text" id="txtTBFilterCurrency" tabindex="4" value="USD" class="form-control  pull-left" style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Ending Period No.</label>
                                    <input type="text" tabindex="5" id="" onfocus="javascript:GetPeriodBible('TrialBalance');" class="SearchPeriod form-control  pull-left" style="margin-left:13px !important;" >
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Posted Date From</label>
                                    <input type="text" tabindex="6" id="txtFromTB" placeholder="MM/DD/YYYY" class="form-control  pull-left datepicker" style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Posted Date To</label>
                                    <input type="text" id="txtToTB" placeholder="MM/DD/YYYY" tabindex="7" class="form-control  pull-left datepicker" style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:200px!important;">Suppress Zero Value Accounts</label>
                                    <input type="checkbox" id="chkSuppressZuro" tabindex="8" class="" style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group" style="display:none;">
                                    <label style="width:200px!important;">Locaton(s)</label>
                                    <input type="text" id="txtTBFilterLocation" onfocus="javascript:funSegment();" tabindex="8" class="form-control  pull-left SearchLocation" style="margin-left:13px !important;">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group" style="display:none;">
                                    <label style="width:200px!important;">Set Code(s)</label>
                                    <input type="text" id="txtTBFilterLocation" onfocus="javascript:funSegment();" tabindex="9" class="form-control  pull-left SearchLocation" style="margin-left:13px !important;">
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-group" style="display:none;">
                                    <label style="width:200px!important;">Exclude Net Zero Accounts</label>
                                    <input type="checkbox" id="txtBibleFilterExport" class="pull-left" style="margin-left:13px !important;" tabindex="10" >
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" style="display:none;">
                                <label style="width:200px!important;">Compress Expenses</label>
                                <input type="checkbox" id="txtBibleFilterExport" class="pull-left" style="margin-left:13px !important;" tabindex="11" >
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" style="display:none;">
                                <label style="width:200px!important;">Include PO</label>
                                <input type="checkbox" id="txtBibleFilterExport" class="pull-left" style="margin-left:13px !important;" tabindex="12" >
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group" style="display:none;">
                                <label style="width:200px!important;">Summary Total</label>
                                <input type="checkbox" id="txtBibleFilterExport" class="pull-left" style="margin-left:13px !important;" tabindex="13" >
                            </div>
                        </div>
                        @*End of Trial Balance *@
                        @*Start  of JE Posting Report *@
                        <div id="PostingReportDiv" class="form-group mar0 clsHide" style="display:none;">
                            <div class="form-group">
                                <label style="width:200px!important;">Report Format </label>
                                <input type="radio" name="RFormatJEPosting" id="rbAccountJEPosting" checked="checked" tabindex="1" /> Account Distribution
                                <input type="radio" name="RFormatJEPosting" id="rbTransactionJEPosting" tabindex="1" /> Transaction No.
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Report Date</label>
                                <input type="text" id="txtReportDate" tabindex="2" class="form-control  pull-left datepicker" style="margin-left:13px !important;">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Company</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <div style="width: 160px !important; float: left;  margin-bottom:2px;">
                                        <select style="width: 160px !important;margin-left: 12px;" id="JEPostingFilterCompany" multiple="multiple" style="display:none;"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="JEPostingFilterLocationGroup" style="display:none;">
                                <label style="width:200px!important;">Locaton(s)</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="JEPostingFilterLocation" multiple="multiple" style="display:none;"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="JEPostingFilterEpisodeGroup" style="display:none;">
                                <label style="width:200px!important;">Episode(s)</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="JEPostingFilterEpisode" multiple="multiple" style="display:none;"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="JEPostingFilterSetGroup" style="display:none;">
                                <label style="width:200px!important;">Set(s)</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="JEPostingFilterSet" multiple="multiple" style="display:none;"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Period Status</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="txtJEPostingPeriodStatus" tabindex="3" multiple class="form-control  pull-left" onfocus="javascript:funPeriodNumberFilter();"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Posted Date From:</label>
                                <input type="text" id="txtCreatedDateJEPostingFrom" tabindex="4" class="form-control  pull-left datepicker" style="margin-left:13px !important;">
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Posted Date To:</label>
                                <input type="text" id="txtPostedDateJEPostingTo" tabindex="5" class="form-control  pull-left datepicker" style="margin-left:13px !important;">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Transaction No. From:</label>
                                <input type="text" id="txtJEPostingTransFrom" tabindex="6" class="form-control  pull-left" style="margin-left:13px !important;">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Transaction No. To:</label>
                                <input type="text" id="txtJEPostingTransTo" tabindex="7" class="form-control  pull-left" style="margin-left:13px !important;">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Batch</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="ddlBatchJEPosting" tabindex="8" multiple class="form-control  pull-left" style="" onfocus="javascript:funJEBatchNumberFilter();"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">UserName</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="ddlJEPostingUserName" multiple class="form-control  pull-left" tabindex="9" onfocus="javascript: funJEGetUserFilter();"></select>
                                </div>
                            </div>
                        </div>
                        @* ENd of JE Posting Report *@


                        @*Start  of JE Audit Report *@
                        <div id="DvJE" class="form-group mar0 clsHide" style="display:none;">
                            <div class="form-group">
                                <label style="width:200px!important;">Report Format </label>
                                <input type="radio" name="RFormatJE" id="rbAccountJE" checked="checked" tabindex="1"/> Account Distribution
                                <input type="radio" name="RFormatJE" id="rbTransactionJE" tabindex="1"/> Transaction No.
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Report Date</label>
                                <input type="text" id="txtReportDateJEFilter" tabindex="2" class="form-control  pull-left datepicker" style="margin-left:13px !important;">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Company</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <div style="width: 160px !important; float: left;  margin-bottom:2px;">
                                        <select style="width: 160px !important;margin-left: 12px;" id="JEAuditFilterCompany" multiple="multiple" style="display:none;"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="JEAuditFilterLocationGroup" style="display:none;">
                                <label style="width:200px!important;">Locaton(s)</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="JEAuditFilterLocation" multiple="multiple" style="display:none;"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="JEAuditFilterEpisodeGroup" style="display:none;">
                                <label style="width:200px!important;">Episode(s)</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="JEAuditFilterEpisode" multiple="multiple" style="display:none;"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="JEAuditFilterSetGroup" style="display:none;">
                                <label style="width:200px!important;">Set(s)</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="JEAuditFilterSet" multiple="multiple" style="display:none;"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;"> Period Status</label>                               
                                <select id="txtJEPeriodStatus" class="form-control  pull-left" tabindex="4" style="margin-left:13px !important; width:160px !important;">
                                    <option value="Current">Current</option>
                                    <option value="Future">Future</option>
                                    <option value="Both">Both</option>
                                </select>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Journal Entry Date From:</label>
                                <input type="text" id="txtCreatedDateJEFrom" class="form-control  pull-left datepicker" tabindex="5" style="margin-left:13px !important;">
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Journal Entry Date To:</label>
                                <input type="text" id="txtCreatedDateJETo" class="form-control  pull-left datepicker" style="margin-left:13px !important;" tabindex="6" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Transaction No. From:</label>
                                <input type="text" id="txtJEAuditTransFrom" class="form-control  pull-left" style="margin-left:13px !important;" tabindex="7" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Transaction No. To:</label>
                                <input type="text" id="txtJEAuditTransTo" class="form-control  pull-left" style="margin-left:13px !important;" tabindex="8" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Batch</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="ddlBatchJEAudit" tabindex="9" multiple class="form-control  pull-left" style="" onfocus="javascript:funJEBatchNumberFilter();"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">UserName</label>
                                <div style="width: 160px !important; float: left; margin-left: 13px; margin-bottom:2px;">
                                    <select id="ddlJEAudUserName" multiple class="form-control  pull-left" style="" onfocus="javascript: funJEGetUserFilter();" tabindex="10"></select>
                                </div>
                            </div>
                        </div>
                        @* ENd of JE Audit Report *@
                        @*Start of COA*@
                        <div id="COADiv" class="clsHide" style="display:none;">
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Report Date</label>
                                <input type="text" id="txtCOAPeportDate" placeholder="MM/DD/YYYY" tabindex="1" class="form-control  pull-left datepicker" style="margin-left:13px !important;">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Account From</label>
                                <input type="text" id="txtCOAFilterAccountFrom" tabindex="5" class="SearchCode form-control  pull-left SearchPeriod " style="margin-left:13px !important;">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:200px!important;">Account To</label>
                                <input type="text" id="txtCOAFilterAccountTo" tabindex="5" class="SearchCode form-control  pull-left SearchPeriod " style="margin-left:13px !important;">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label style="width:212px!important;">Account Type</label>
                                <select id="txtCOAFilterAccountType" tabindex="5" multiple="multiple" class="multiselect-ui form-control  pull-left SearchPeriod" style="margin-left:13px !important;">
                                    <option value="A">Assets</option>
                                    <option value="L">Liabilities</option>
                                    <option value="EA">Above the Line Expense</option>
                                    <option value="EB">Below the Line Expense</option>
                                    <option value="EC">Post Production Expense</option>
                                    <option value="ED">Other Expense</option>
                                    <option value="EE">Contingencies</option>
                                    <option value="EF">Completion Costs</option>
                                    <option value="EG">Approved Overages</option>


                                </select>
                            </div>
                        </div>
                        @*End of COA*@
                    </div>
                </section>
            </div>
            <div id="dialog11" style="display:none"></div>
        </section>
    </form>
}
@section Javascript{
    <script src="~/Content/libs/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/Reports/ReportEngine.js"></script>
    <script src="~/Scripts/Reports/LedgerListReport.js"></script>
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/assets/dialog-confirm.css" rel="stylesheet" />
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/libs/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/papaparse.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $(".datepicker").datepicker();
            });
            $(function () {
                $('.multiselect-ui').multiselect({
                    includeSelectAllOption: true
                });
            });
            function showDialog(id) {
                var dialog = $('#' + id),
                        card = dialog.find('.dialog-card');
                dialog.fadeIn();

                card.css({
                    'margin-top': -card.outerHeight() / 2
                });

            }

            function hideAllDialogs() {         
                $('.dialog-overlay').fadeOut();
            }

            $('.dialog-confirm-button, .dialog-reject-button').on('click', function () {
                hideAllDialogs();
            });

            $('.dialog-show-button').on('click', function () {
                var toShow = $(this).data('show-dialog');
                showDialog(toShow);
            });
        });

    </script>
    <style type="text/css">
        .w30N {
            width: 30px !important;
        }

        .ui-button-icon-only .ui-icon {
            margin: -8px 0 0 -9px !important;
        }

        .table-hover th {
            padding: 0px 4px !important;
        }

        .blueClas {
            background: #337ab7;
            color: #fff;
            padding: 5px !important;
        }

        /*.ui-dialog {
            width: 80% !important;
            z-index: 999999999;
        }*/
       
    </style>
}