<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderSection("body", required: false)
    </div>

    @RenderSection("Javascript", required: false)

</body>
</html>
