<html>
<head>
    <title>Checks Print</title>
    <link href='https://devemsca.azurewebsites.net/content/css/bootstrap.min.css' rel='stylesheet' />
</head>
<body>
    <style type='text/css'>
        .pad0 {
            padding: 0px;
        }

        .mar0 {
            margin: 0px;
        }

        .mart20 {
            margin-top: 20px;
        }

        .marb20 {
            margin-bottom: 20px;
        }

        .cheque_box {
            background: url(https://devemsca.azurewebsites.net/content/images/concrete-texture-9.jpg);
            min-height: 100%;
            position: relative;
            background-size: cover;
        }

        .bg_transparent {
            float: left;
            width: 100%;
            min-height: 100%;
            background: RGBA(66, 150, 209, 0.41);
            padding: 20px 0px;
        }

        .cheque_box label {
            margin-right: 10px;
            margin-top: 7px;
            float: left;
        }

        .overflo-hidden {
            overflow: hidden;
        }

        .width74 {
            width: 74%;
            float: left;
        }

        .width80 {
            width: 80%;
            float: left;
        }

        .cheque_box .form-control {
            background: transparent none repeat scroll 0% 0%;
            box-shadow: 0px 0px 0px transparent !important;
            border-radius: 0px;
            border: 0px none;
            border-bottom: 2px solid rgb(255, 255, 255);
        }
    </style><div class="container"><div class="row"><div class=\"cheque_box col-md-8 pad0\" style=\"min-height: 100%; position relative; background-size cover;\"><div class='bg_transparent'><div class='col-md-3'><img src='https://devemsca.azurewebsites.net/content/images/logo.png' /></div><div class='col-md-3'><address class='mar0'><strong>Address</strong></address><span> is simply dummy text of the printing  and typesetting industry.</span></div><div class='col-md-3 pull-right'><label>Date</label><input type='text' class='form-control width74' /></div><div class='clearfix'></div><div class='col-md-12 mart20 marb20'><span class='overflo-hidden'><label>Pay to the Order Of</label><input type='text' class='form-control width80' /><input type='text' class='form-control col-md-12 pad0' /></span></div><div class='col-md-12 cheque_footer pad0 mart20 marb20'><div class='col-md-4'>Date Signed</div><div class='col-md-4'>Loremipsum</div><div class='col-md-4'><input type='text' class='form-control pull-right width74' /></div></div><div class='cheque_number col-md-12 pad0 mart20'><div class='col-md-2'><h3>000055</h3></div><div class='col-md-2'><h3>000055</h3></div><div class='col-md-8'><h3>000055</h3></div></div></div></div></div></div>
</body>
</html>