@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Javascript
{
    <script src="~/Scripts/Login/ForgotPassword.js"></script>
}
@section body
{
    <div id="login">
        <div class="container">
            <div class="wrapper">
                <h1>
                    <a href="#" class="appbrand"><img src="~/Content/images/logo.png" alt="logo" style="width:60%;"></a><span class=""> <i></i></span><br>
                    <span class="displayBlock">Forgot Password</span>
                </h1>
                <!-- Box -->
                <div class="widget widget-heading-simple widget-body-gray">

                    <div class="widget-body">

                        <!-- Form -->
                        <form method="post" action="#" style=" padding: 20px 0;">
                            <input type="email" class="inputLogin input-reuired" id="txtEmail" placeholder="Email address" required>
                            <div class="" style="padding:20px 0px;">
                                <div class="center">
                                    <a class="btn btn-success displayBlock" href="#" onclick="funSubmit();"><b>SUBMIT</b></a>
                                </div>
                                <a class="blueText pull-right" href="LogIn" style="padding: 10px 0;">Go Back</a>
                            </div>
                        </form>
                        <!-- // Form END -->
                    </div>
                </div>
                <!-- // Box END -->
            </div>
        </div>

    </div>


}
