@{
    ViewBag.Title = "Setting>>ManageUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManageUsers</h2>
@section BreadCrumb{
    <section class="content-header paddingBottom0">
        <ol class="breadcrumb floatLeft">
            <li><a href="#"> Setting <i class="fa fa-caret-right"></i></a></li>
            <li class="active">Users <i class="fa fa-caret-right"></i></li>
            <li class="active">Users</li>
        </ol>
        <div class="pull-right paddingNone white_space col-lg-6 col-md-9 col-sm-12 col-xs-12">
            <a href="#" class="btn btn-default pull-left marginRight11" onclick="javascript: funAddNewUser();">+ Add User</a>
            <select class="form-control width135 floatLeft marginRight10 marginLeft10 marginBottomNone" style="visibility:hidden;"></select>
            <div class="midMenu pull-left">
                <ul>
                    <li><a href="~/Setting/Groups">Groups</a></li>
                    <li class="active"><a href="#">Users</a></li>
                   
                </ul>
            </div>
            <a class="btn btn-primary pull-right " style="display:none;">Cancel</a>
            <a class="btn btn-success pull-right marginRight10" style="display:none;">Save</a>
        </div>
        <div class="clearfix"></div>
    </section>
}

@section Body{
    <section class="content">
        <div class="row fontAriel">

            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="#" class="btn btn-default" onclick="javascript: funAddNewUser();">+ Add Users</a></div>*@

            @*<div class="col-xs-12">
                <div class="midMenu marginTop10">
                    <ul>
                        <li class="active"><a href="#">Users</a></li>
                        <li><a href="~/Setting/Groups">Groups</a></li>
                    </ul>
                </div>*@
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <!--<table class="table table-hover table-responsive">-->
                <div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TblUser" class="display nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Users - (Title)</th>
                                        <th>Group(s)</th>
                                        @*<th>Defaults</th>*@
                                        <th>Active</th>
                                    </tr>
                                </thead>
                                <tbody id="TblUserBody"></tbody>
                            </table>
                        </div>
                        @*</div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 5 of 5 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example_previous"><a href="#" aria-controls="example" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button next disabled" id="example_next"><a href="#" aria-controls="example" data-dt-idx="2" tabindex="0">Next</a></li></ul></div></div></div>*@
                    </div>
                </div>
                <!--<div class="botMenu">
                <ul>
                <li  class="active"><a href="#">PREP Budget</a></li>
                <li><a href="#">Budget 2</a></li>
                <li><a href="#">Budget 3</a></li>
                <li><a href="#">+ New Budget</a></li>
                </ul>

                </div>-->
                <!-- /.box -->
            </div>

        </div>
    </section>

}

@section Javascript{

    @*<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>*@
    @*<script src="~/Content/media/js/jquery.js"></script>*@
    <script src="~/Content/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/media/js/dataTables.responsive.min.js"></script>
    <link href="~/Content/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/media/css/responsive.dataTables.css" rel="stylesheet" />
    <link href="~/Content/media/css/responsive.dataTables.min.css" rel="stylesheet" />



    <script src="~/Scripts/CompanySettings/Users.js"></script>

}