@{
    ViewBag.Title = "Setting>>ManageUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BreadCrumb{
    <section class="content-header">
        <ol class="breadcrumb floatLeft">
            <li><a href="#"> Setting <i class="fa fa-caret-right"></i></a></li>
            <li><a href="#">Users <i class="fa fa-caret-right"></i></a></li>
            <li class="active">Users</li>
        </ol>
        <!--<a  href="#" class="btn btn-default floatRight">Config</a>-->
        <div class="clearfix"></div>

    </section>
}


@section Body{
    <section class="content">
        <div class="row fontAriel">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="addUsers.html" class="btn btn-default">+ Add Users</a></div>

            <div class="col-xs-12">
                <div class="midMenu marginTop10">
                    <ul>
                        <li class="active"><a href="#">Users</a></li>
                        <li><a href="#">Groups</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="table-responsive">
                    <table class="table table-hover table-responsive">
                        <tbody>
                            <tr>
                                <th>Users (Title)</th>
                                <th>Group(s)</th>
                                <th>Defaults</th>
                                <th>Active</th>

                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="blueText">Michael beaudin</a> <br>
                                    first assistant accountant
                                </td>
                                <td>First Assistants</td>
                                <td><a href="#" class="blueText">Edit</a></td>
                                <td><input type="checkbox"></td>

                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="blueText">Michael beaudin</a> <br>
                                    first assistant accountant
                                </td>
                                <td>First Assistants</td>
                                <td><a href="#" class="blueText">Edit</a></td>
                                <td><input type="checkbox"></td>

                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="blueText">Michael beaudin</a> <br>
                                    first assistant accountant
                                </td>
                                <td>First Assistants</td>
                                <td><a href="#" class="blueText">Edit</a></td>
                                <td><input type="checkbox"></td>

                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="blueText">Michael beaudin</a> <br>
                                    first assistant accountant
                                </td>
                                <td>First Assistants</td>
                                <td><a href="#" class="blueText">Edit</a></td>
                                <td><input type="checkbox"></td>

                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="blueText">Michael beaudin</a> <br>
                                    first assistant accountant
                                </td>
                                <td>First Assistants</td>
                                <td><a href="#" class="blueText">Edit</a></td>
                                <td><input type="checkbox"></td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <!--<div class="botMenu">
                <ul>
                <li  class="active"><a href="#">PREP Budget</a></li>
                <li><a href="#">Budget 2</a></li>
                <li><a href="#">Budget 3</a></li>
                <li><a href="#">+ New Budget</a></li>
                </ul>

                </div>-->
                <!-- /.box -->
            </div>

        </div>
    </section>

}
@section Javascript{

}