@{
    ViewBag.Title = "Setting>>NewPassword";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<h2>Users</h2>

@section Breadcrumb {
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

<style>
    .fixed-table-container {
        height: 2000%;
        margin: 10px auto;
        padding-top: 10px;
        position: relative;
        width: 100%;
    }

    .fixed-table-container-inner table th {
        padding: 0 5px;
        text-align: left;
        /*min-width: 125px;*/
        color: #000000;
        font-size: 12px;
    }

    .dataTables_wrapper .dataTables_filter {
        float: right;
        margin-right: 100px;
        display: inline;
    }

    .fontAriel {
        line-height: 20px;
    }

    label {
        color: #ffffff;
    }

    button, input, optgroup, select, textarea {
        color: black;
    }

    .content-header > .breadcrumb {
        float: left;
    }

    div.DTE_Inline div.DTE_Field input.form-control {
        height: 20px;
    }

    table.dataTable.stripe tbody > tr.odd.HEADER, table.dataTable.stripe tbody > tr.odd > .HEADER, table.dataTable.display tbody > tr.odd.HEADER, table.dataTable.display tbody > tr.odd > .HEADER table.dataTable.stripe tbody > tr.even.HEADER, table.dataTable.stripe tbody > tr.even > .HEADER, table.dataTable.display tbody > tr.even.HEADER, table.dataTable.display tbody > tr.even > .HEADER {
        background-color: aliceblue;
    }

    table.dataTable.display tbody > tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_2, table.dataTable.display tbody > tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_1, table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2, table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2, table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2, table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
        background-color: inherit;
    }

    table.dataTable.display tbody > tr.selected:hover > .sorting_2, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_2 {
        background-color: aliceblue;
    }

    .ETCnegative {
        background: red;
        color: white;
    }

    table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
        background-color: #f6f6f6;
    }

    table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting {
        background-image: none;
    }

    .childhidden {
        background-color: #5c8fbe !important;
        color: white !important;
        font-weight: bolder !important;
    }
</style>

<header class="main-header">
    <!-- Logo -->
    <a href="~/AccountPayable/Vendors" class="logo">
        <!-- logo for regular state and mobile devices -->
            <span class="logo-mini"><!--<b>Admin</b>LTE--><img src="~/Content/images/logo.png" alt="logo"></span>
    </a>
</header>

    }

@section Body{

    <section class="content">
        <div class="row fontAriel">
            <div class="row fontAriel">
                <div class="widget-body">
                    <div class="tab-content">

                        <div id="DvUserSetPassword" style="display:none;">
                            <div style="margin: 0 auto;width: 25%;text-align: center; margin-top: 5%;">

                                <input type="text" placeholder="######" class="form-control Pro2" disabled id="txtEmailId" />
                                <div class="clearfix"></div>
                                <input type="password" placeholder="Password " class="form-control Pro2" id="txtPassword" />
                                <span id="valresult" style="color:red;font-weight: bold;float: left;margin: 6px 0 0 10px;"></span>
                                <div class="clearfix"></div>
                                <input type="password" placeholder="ConfirmPassword " class="form-control Pro2" id="txtConfrimPassword" />

                                <div class="clearfix"></div>
                                <a class="btn btn-success pull-left" href="#" style="width:250px;" onclick="javascript: SetNewPassword();">Save</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
<div class="col-md-12 col-lg-5 col-sm-6" id="DvUserDetails" style="display:none;">
    <p>Please visit the Atlas website and click the "forgot password" link.</p>
</div>

}

@section Javascript{
    @*<link href="~/Content/Auto/jquery-ui.structure.min.css" rel="stylesheet" />
        <link href="~/Content/Auto/jquery-ui.theme.min.css" rel="stylesheet" />
        <script src="~/Content/Auto/jquery-ui.min.js"></script>*@
    <script src="~/Scripts/CompanySettings/NewPassword.js"></script>
    <style type="text/css">
        .pro {
            margin-top: 5%;
        }

        .Pro2 {
            width: 250px;
            padding: 18px;
            float: left;
        }
    </style>
}


