@{
    ViewBag.Title = "Payroll>>LoadPayroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BreadCrumb{
    <section class="content-header paddingBottom0">
        <ol class="breadcrumb floatLeft">
            <li><a href="#"> Payroll <i class="fa fa-caret-right"></i></a></li>
            <li><a href="PayrollAudit">Audit <i class="fa fa-caret-right"></i></a></li>
            <li id="PayrollInvoiceEdit" class="active">Form File</li>
        </ol>
        <div class="atlas-hide" id="divCompany">
            <input type="hidden" id="ddlCompany" />
        </div>
        <div style="float: left;">
            <div style="float: left; margin-right: 20px;margin-left:10px;">
                <label style="float: left; width: 50px;">Period</label>
                <select class="form-control marb0 VendorCode" id="ddlClosePeriod" style="float: left;width:120px;">
                    @*<option value="Current">Current Period</option>*@
                    @*<option value="Future">Future Period</option>*@
                </select>
            </div>
            <div style="float: left; margin-right: 20px;">Bank: <span id="spanBank"></span></div>
            <div style="float: left; margin-right: 20px;">
                Batch #: <input type="text" style="width:85px;" id="txtPayrollBatch" />
            </div>
        </div>

        @*<div style="float: left; width: 285px;">
                <label style="float: left; width: 50px;">Period</label>

                <select class="form-control marb0 VendorCode" id="ddlPeriod" style="float: left;width:120px;">
                    <option value="Current">Current Period</option>
                    <option value="Future">Future Period</option>

                </select>
            </div>*@
        <div class="pull-right paddingNone white_space col-lg-3 col-md-9 col-sm-12 col-xs-12" style="margin-left:6px;width:222px;">
            <a id="btnBack" class="btn btn-default pull-right marginBottom5" href="#" onclick="javascript: fnBackToPrev();">Back</a>
            <a id="btnSave" class="btn btn-default pull-right marginBottom5 margin-r-5" href="#" onclick="javascript: fnSaveConfirm();">Save</a>
            <a id="btnPost" class="btn btn-default pull-right margin-r-5" href="#" onclick="javascript: fnPostConfirm();">Post</a>
            <a class="btn btn-primary pull-right margin-r-5" href="#" onclick="javascript: Cancel();">Cancel </a>
        </div>

        <!--<a  href="#" class="btn btn-default floatRight">Config</a>-->
        <div class="clearfix"></div>
    </section>
}

@section Body{

    <section class="content">
        <div class="row fontAriel">
            @*<div style="float: left;width: 100%;margin-bottom: 25px;">
                    <div class="col-lg-5 col-sm-3 col-md-3 col-xs-6">Bank: <span id="spanBank"></span></div>
                    <div class="col-lg-5 col-sm-3 col-md-3 col-xs-6">Batch #: <input type="text" id="txtPayrollBatch" /></div>
                </div>*@
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-6">Expected payroll: <span id="spanExpected"></span> </div>
            <div class="col-lg-2 col-sm-3 col-md-3 col-xs-6">Actual Payroll: <span id="spanActual"></span> </div>
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-6">Period Ending: <span id="spanPeriodEnding"></span></div>

            @*<div class="col-lg-4 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group">
                        <label class="width140">Set Transaction Date:</label>
                        <!--<input type="text" class="form-control" >-->
                        <div class="input-group">

                            <!--id="datepicker" placeholder="DD/MM/YYYY"-->
                            <input type="text" id="txtFiscalStart" class="form-control pull-right datepicker" placeholder="MM/DD/YYYY" style="border-color:#d2d6de;">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>*@

            @*<div class="col-lg-3 col-sm-3 col-md-3 col-xs-6">Set Transaction Date: <input type="text" id="txtFiscalStart" class="form-control pull-right datepicker" placeholder="MM/DD/YYYY"></div>*@
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <div class="greyBg">
                    <div class="col-lg-4 col-sm-5 col-md-4 col-xs-6">Labor Clearing:  <span id="spanPR"></span></div>
                    <div class="col-lg-4 col-sm-5 col-md-4 col-xs-6">Fringe Clearing: <span id="spanFringe"></span></div>
                    <div class="col-lg-4 col-sm-2 col-md-4 col-xs-6">Suspense: <span id="spanSuspense"></span></div>
                    <div class="clearfix"></div>
                </div>
                <div class="table-responsive overflowAuto borderTop borderBot" id="dvPayrollContainer">
                    <table id="tblPayrollLoad" class="table table-hover table-responsive"></table>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>

    <div id="dvConfirmPost" class="dialog-overlay" style="display: none;">
        <div class="dialog-card">
            <div class="dialog-question-sign"><i class="fa fa-question"></i></div>
            <div class="dialog-info">
                <h5>Post Payroll?</h5>
                <p>
                    This will Post your Payroll transaction and cannot be reversed.
                    <br /> Are you sure want to continue ?
                </p>
                <a href="javascript:funSaveDataPost();" class="dialog-confirm-button">YES</a>
                <a href="javascript:hideDiv('dvConfirmPost');" class="dialog-reject-button">NO</a>
            </div>
        </div>
    </div>


    <div id="dvInvoice" class="newhidden dialog-overlay">
        <div class="popup col-md-6 col-lg-3 col-sm-6 col-xs-12 floatNone">
            <div class="deleteNewIcon"><a href="javascript:hideDiv('dvInvoice');">X</a></div>
            <div class="heading2"><h4>Auto Generated Invoice</h4></div>
            <div class="WhtBg">
                <div class="col-md-12">
                    <p class="fontSize16">Would you like to Automatically generate an invoice ?</p>
                </div>

                <div class="col-md-12">
                    <label>Vendor Name</label>
                    <input type="text" id="txtVendor" class="form-control width180 VendorCode">
                    <input type="hidden" id="hdnVendorID" />
                </div>

                <a class="btn btn-default01 pull-left marginBottom5" id="btnYes" href="javascript: CheckFreezePeriodInvoice();" >YES</a>
                <a class="btn btn-default01 pull-right margin-r-5" id="btnNo"  href="javascript: CheckFreezePeriodJE();"> NO</a>

            </div>
        </div>
    </div>

    <div id="dvConfirmSave" class="dialog-overlay" style="display: none;">
        <div class="dialog-card">
            <div class="dialog-question-sign"><i class="fa fa-question"></i></div>
            <div class="dialog-info">
                <h5>Save Payroll?</h5>
                <p>
                    This will Save your Payroll transaction.
                    <br /> Are you sure you want to do this?
                </p>
                <a href="javascript: funSaveDataLoad();" class="dialog-confirm-button">YES</a>
                <a href="javascript: hideDiv('dvConfirmSave');" class="dialog-reject-button">NO</a>
            </div>
        </div>
    </div>


    <div id="dvJE" class="dialog-overlay" style="display: none;">
        <div class="dialog-card">
            <div class="dialog-success-sign"><i class="fa fa-check"></i></div>
            <div class="dialog-info">
                <h5>Payroll Posted Successfully</h5>
                <p>
                    You have posted this Payroll transaction with the following Transaction # <span id="spanJETransNo"></span>
                </p>

                <a href="javascript:JERedirect();" class="dialog-confirm-button">OK</a>
            </div>
        </div>
    </div>


    <div id="dvInv" class="dialog-overlay" style="display: none;">
        <div class="dialog-card">
            <div class="dialog-success-sign"><i class="fa fa-check"></i></div>
            <div class="dialog-info">
                <h5> Invoice Created Successfully</h5>
                <p>
                    You have created an Invoice for this Payroll with the following Invoice # <span id="spanInvNo"></span><br />
                    and Transaction # <span id="spanJETransNo1"></span>
                </p>

                <a href="javascript:InvRedirect();" class="dialog-confirm-button">OK</a>
            </div>
        </div>
    </div>


    <div id="dvConfirmCancel" class="dialog-overlay" style="display: none;">
        <div class="dialog-card">
            <div class="dialog-question-sign"><i class="fa fa-question"></i></div>
            <div class="dialog-info">
                <h5>Cancel ?</h5>
                <p>
                    This will cancel any changes you have made to your Payroll load.
                    <br /> Are you sure you want to do this?
                </p>
                <a href="javascript:CancelYes();" class="dialog-confirm-button">YES</a>
                <a href="javascript:hideDiv('dvConfirmCancel');" class="dialog-reject-button">NO</a>
            </div>
        </div>
    </div>

    <div class="newhidden" id="dvWait1" style="display: none;width: 100%;margin: auto 0px;text-align: center;top: 30%;">

        <img src="~/Images/InternetSlowdown_Day.gif" />

    </div>
}

@section Javascript{
    <script src="~/Scripts/Payroll/PayrollSession.js"></script>
    <script src="~/Scripts/Payroll/PayrollEdit.js"></script>
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
    <style>
        .table-hover td {
            padding: 3px 0px 3px 10px !important;
        }



        .green-color span, .green-color label {
            color: green;
        }

        .red-color span, .red-color label {
            color: red;
        }

        .width40 {
            width: 45px;
            border: 1px solid #ccc;
        }

            .width40 input {
                width: 100%;
            }

        .width100 {
            width: 150px !important;
            border: 1px solid #ccc;
        }

            .width100 input {
                width: 100%;
            }

        .width75 {
            width: 75px;
            border: 1px solid #ccc;
        }

            .width75 input {
                width: 100%;
            }

        .width95 {
            width: 95px;
            border: 1px solid #ccc;
        }

            .width95 input {
                width: 100%;
            }

        .table-hover td {
            padding: 0px !important;
        }

        .RedBGG {
            background: #EAA5A5;
        }
    </style>
    <link href="~/Content/assets/dialog-confirm.css" rel="stylesheet" />
    <link href="~/Content/assets/dialog-alert.css" rel="stylesheet" />

    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
          rel="stylesheet" type="text/css" />

    <script>

        // This is an example jQuery snippet that makes the dialogs work
        $(document).ready(function () {

            // We have two control functions that show or hide dialogs
            function showDialog(id) {

                // Find the dialog and show it

                var dialog = $('#' + id),
                        card = dialog.find('.dialog-card');

                dialog.fadeIn();

                // Center it on screen

                card.css({
                    'margin-top': -card.outerHeight() / 2
                });

            }
            function hideAllDialogs() {
                // Hide all visible dialogs
                $('.dialog-overlay').fadeOut();
            }

            // Here is how to use these functions

            $('.dialog-confirm-button, .dialog-reject-button').on('click', function () {
                hideAllDialogs();
            });

            $('.dialog-show-button').on('click', function () {
                var toShow = $(this).data('show-dialog');

                showDialog(toShow);
            });
        });

    </script>
}
